[project]
name = "my-diary"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.124.0",
    "tortoise-orm (>=0.25.1,<0.26.0)",
    "python-dotenv (>=1.2.1,<2.0.0)",
    "aerich (>=0.9.2,<0.10.0)",
]
